* {
  box-sizing: border-box;
}

html {
  // prevent vertical scrollbar from shifting page elements
  scrollbar-gutter: stable;
}

body {
  margin: 0;
  height: 100vh;
}

#root {
  --black-dark: #1c2026;
  --black: #23272f;
  --blue: #6883ba;
  --white: #f9f9f9;
  --red: #e072a4;
  --green: #b0e298;
  color: var(--white);
  background: var(--black);
  font-family: "Nunito Sans", sans-serif;
  height: 100vh;

  a {
    color: var(--green);
  }
}

.app {
  background: var(--black);

  .app_body {
    margin: auto;
    width: 75rem;
    position: relative;
  }
}
