body {
  margin: 0;
}

#root {
  --black-dark: #1c2026;
  --black: #23272f;
  --blue: #6883ba;
  --white: #f9f9f9;
  --red: #e072a4;
  --green: #b0e298;
  background: var(--black);
  color: var(--white);
  height: fit-content;
  min-height: 100vh;
  font-family: "Nunito Sans", sans-serif;

  a {
    color: var(--green);
  }
}

.app {
  .app_body {
    display: flex;
    margin: auto;
    max-width: 1200px;
  }
}
