.topnav {
  border-bottom: 1px solid var(--blue);
  width: 100%;
  max-width: 75rem;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  background: var(--black);

  .topnav_left {
    min-width: 16rem;
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    font-weight: bold;
    padding-left: 1rem;
  }

  .topnav_right {
    display: flex;
    align-items: center;

    .github_logo {
      position: relative;
      height: 3rem;
      width: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;

      .github_logo_halo {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        height: 3rem;
        width: 3rem;
      }

      img {
        width: 1.5rem;
        height: 1.5rem;
      }

      &:hover {
        .github_logo_halo {
          background: var(--white);
          opacity: 0.1;
        }
      }
    }
  }
}
